<h1>
    Lista de productos
</h1>
<div>
    {{#each productsFile}}
        <div>
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>{{this.price}}</p>
            <img src="{{this.thumbnail}}" alt="{{this.title}}">
            <p>{{this.code}}</p>
            <p>{{this.stock}}</p>
        </div>
    {{/each}}
</div>