{{!-- <form id="productForm">
      <input type="text" id="name" name="name" placeholder="Product Name" required>
      <input type="number" id="price" name="price" placeholder="Product Price" required>
      <button type="submit">Add Product</button>
    </form> --}}
    
    {{!-- <script>
      const socket = io();
      const form = document.getElementById('productForm');
      form.addEventListener('submit', (event) => {
        event.preventDefault();
        const name = document.getElementById('name').value;
        const price = document.getElementById('price').value;
        socket.emit('addProduct', { name, price });
        form.reset();
      });
    </script> --}}


    <div>
    <h2>Agregar un producto</h2>
    <form action="/api/products" method="POST">
        <input type="text" id='title' name="title" placeholder="Titulo">
        <input type="text" id='description' name="description" placeholder="Descripcion">
        <input type="text" id='category' name="category" placeholder="Categoria">
        <input type="number" id='price' name="price" placeholder="Precio">
        <input type="text" id='status' name="status" placeholder="Status">
        <input type="text" id='thumbnail' name="thumbnail" placeholder="Imagen">
        <input type="text" id='code' name="code" placeholder="Codigo">
        <input type="number" id='stock' name="stock" placeholder="Stock">
        <button type="submit">Agregar producto</button>
</div><br>
<h2>Lista de productos:</h2>
<div><br>
    {{#each docs}}
        <div>
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>{{this.price}}</p>
            <img src="{{this.thumbnail}}" alt="{{this.title}}">
            <p>{{this.code}}</p>
            <p>{{this.stock}}</p>
        </div>
    {{/each}}
</div>
<div>
        {{#if hasPrevPage}}
            <a href="{{prevLink}}">Previous</a>
        {{/if}}

        {{#if hasNextPage}}
        <a href="{{nextLink}}">Next</a>
        {{/if}}

    </div>
<div class="messagelogs">  </div>
<script src="../../public/js/productAdd.js">